5. Version-Controlled Game Project
Evidence that includes:
·         Creation of a game project using the C++ programming language and maintained within a Version Control repository, either from a brief provided by your teacher or via your own brief approved by your teacher
·         Version Control requirements include:
o   Creation of a version control repository for the game before development begins
o   Observation of successful use of the repository throughout development
o   Submitted screenshot showing commits made throughout development of the project, demonstrating consistent use of the Version Control software chosen
·         The game must include:
o   Graphical components, using a third-party library
o   A Graphical User Interface
o   Use of pre-made image assets
o   Respond to Input devices
·         The source code for the game must:
o   Be clearly commented and written in a clear, concise manner
o   Include error handling techniques that may include function error return codes, assertions and/or exception handling
The game project may be produced as a group, but must be included in the assessment submission of each individual team member.